.ptopic
{
min-height : 160px;
background: rgb(20,200,200);
cursor : pointer;
}
.pskill
{
min-height : 160px;
background: rgba(0,200,0,0.5);
padding:0px;
}
.row
{
margin:3px;
}
.pskill img
{
  display :none;
}
.show
{
display : block;
}