.projectouter
{
display : block;
padding-left : 15%;
padding-right : 15%;
width : 70%;
height : 650px;
}
.projectinner
{
display : block;
background : white;
width : 100%;
}

.ptopic
{
min-height : 150px;
width : 60%;
display: block;
background : rgb(10,100,210);
margin-bottom : 5px;
cursor : pointer;
font-weight : bold;
}

.pskill
{
height : 150px;
background : rgba(0,160,100,0.5);
display : none;
width : 40%;
margin-bottom : 5px;
}

.show
{
display : block;
}
