.navbar
{
background:blue;
padding-right:20px;
padding-left:20px;
}
body
{
 background: url('Matrix 280-210.gif') repeat;
 background-size: 280px 210px;
}
.row
{
 display:block;
}
.mypic
{

}
hr{ background:blue; }
.show
{
display : block;
}
.construction
{
display:block;
height : 250px;
width: 250px;
}